/* Clarendon-Light webfont (new-bulletproof) */ 
@font-face {
    font-family: 'Clarendon-Light';
    src: url('Clarendon-Light.eot?#iefix') format('embedded-opentype'),
         url('Clarendon-Light.woff') format('woff'),
         url('Clarendon-Light.ttf')  format('truetype'),
         url('Clarendon-Light.svg#webfont') format('svg');
}

body {
	background: url("Back1.jpg") no-repeat grey;
	margin: 0px;
	font-family: 'Clarendon-Light', serif;
	overflow: hidden;
}

h1 {
	font-size: 120px;
	margin-top: 100px;
	margin-left: 100px;
	text-shadow: white 0px 0px 10px;
	float: left;
	width: 400px;
	font-weight: normal;
}

div#links {
	background-color: white;
	padding: 10px;
	border-top: solid 5px;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

div#links a {
	text-decoration: none;
	font-size: 20px;
	color: #C33;
	padding: 5px;	
	margin-left: 50px;
}

div#links a:hover {
	text-decoration: underline;
}

div#links a:visited {
	color: #444;
}

div.feed {
	height: 30%;
	background: white;
	border-top: solid black 5px;
	position: absolute;
	bottom: 25px;
	left: 0px;
	right: 0px;
}

div.feed div.title {
	background: #eee;
	font-size: 25px;
	padding: 10px 10% 10px 10%;
}

div.feed div.content {
	padding-left: 15%;
	font-size: 20px;
}

div.feed div.content div.item-title {
	float: left;
	width: 800px;
}

div.feed div.content div.item-title a {
	text-decoration: none;
	color: black;
}

div.feed div.content div.item-date {
	padding-left: 20px;
}
